n8n_workflow.json
{
  "name": "Spazio Italia - Enviar Check-in/Check-out",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spazio-form",
        "options": {}
      },
      "id": "1a1a1a1a-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://SEU-DOMINIO.com.br/api/generate-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "c4c5b671567135a561815171816c9b2e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"opportunity_id\": \"{{ $json.body.opportunity_id }}\",\n  \"form_type\": \"{{ $json.body.form_type }}\"\n}",
        "options": {}
      },
      "id": "2b2b2b2b-2222-2222-2222-222222222222",
      "name": "Gerar Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@spazioitalia.com.br",
        "toEmail": "={{ $('Webhook').item.json.body.client_email }}",
        "subject": "=Spazio Italia - Formulário de {{ $('Webhook').item.json.body.form_type === 'checkin' ? 'Check-in' : 'Check-out' }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0; border-bottom: 3px solid; border-image: linear-gradient(to right, #CD212A, #ffffff, #008C45) 1;\">\n    <h1 style=\"color: #333; margin: 0;\">Spazio Italia</h1>\n    <p style=\"color: #666; margin: 5px 0 0;\">Centro de Convenções</p>\n  </div>\n\n  <div style=\"padding: 30px 0;\">\n    <p style=\"color: #333; font-size: 16px;\">Olá <strong>{{ $('Webhook').item.json.body.client_name }}</strong>,</p>\n\n    <p style=\"color: #555; font-size: 15px; line-height: 1.6;\">\n      Por favor, preencha o formulário de <strong>{{ $('Webhook').item.json.body.form_type === 'checkin' ? 'Check-in (Entrada)' : 'Check-out (Saída)' }}</strong> do espaço clicando no botão abaixo:\n    </p>\n\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.link }}\" style=\"background-color: #CD212A; color: white; padding: 14px 40px; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: bold; display: inline-block;\">Preencher Formulário</a>\n    </div>\n\n    <div style=\"background-color: #f8f9fa; border-radius: 8px; padding: 15px; margin: 20px 0;\">\n      <p style=\"color: #666; font-size: 13px; margin: 0;\">⏰ Este link é válido por <strong>72 horas</strong> e pode ser utilizado apenas <strong>uma vez</strong>.</p>\n    </div>\n\n    <p style=\"color: #555; font-size: 14px;\">Se o botão não funcionar, copie e cole este link no seu navegador:</p>\n    <p style=\"color: #CD212A; font-size: 13px; word-break: break-all;\">{{ $json.link }}</p>\n  </div>\n\n  <div style=\"border-top: 1px solid #eee; padding-top: 15px; text-align: center;\">\n    <p style=\"color: #999; font-size: 12px;\">Spazio Italia - Centro de Convenções</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "3c3c3c3c-3333-3333-3333-333333333333",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gerar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Token": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}